/*======== google fonts import ======== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap");

/* ======= global styling ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  font-family: "Poppins", sans-serif;
  background-color: #f3eeee;
  color: #000;
}
body {
  width: 100%;
}

.section-padding {
  padding: 48px 80px;
}
.section-margin {
  margin: 40px 0;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
  color: #465b52;
}

button {
  padding: 16px;
  min-width: 150px;
  border: 2px solid #8085b4;
  border-radius: 16px;
  font-size: large;
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #e3e6f3;
  transition: ease-in-out;
  transition-delay: 0.1s;
}

/*  ======== header (navbar) ========  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.header a img {
  width: 200px;
  height: 80px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#navbar li {
  list-style: none;
  padding: 0 16px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.2s ease;
}
#navbar li a i {
  font-size: 24px;
}
#navbar li a:hover,
#navbar li a.active {
  color: #084922;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #084922;
  bottom: -4px;
  left: 20px;
}

/* ===footer section */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer a {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 14px;
}
footer .socials {
  margin-top: 20px;
}
footer .socials i {
  margin-right: 20px;
  cursor: pointer;
  font-size: larger;
}
footer .apps .app-image img {
  border: 1px solid #088178;
  border-radius: 5px;
}
footer .apps img {
  margin: 10px 0 14px 0;
}
footer .copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .socials i:hover,
footer a:hover {
  color: #088178;
}
